doctype html
html(lang='en')
  head
    title Page title
  body
    header(style='display: flex')
      h1(style='margin: 0') Logo
      a(href='/') Home
    main
      block content
    footer(style='display: flex')
      a(href='https://github.com/anorone', style='margin: auto') GitHub
