extends ../layouts/index

block content
  div
    a(href='/users/new') Create user
  if users.length === 0
    p No users
  else
    ul
      each user in users
        li
          a(href=`/users/${user.id}`)= user.name
